{% extends 'base.html.twig' %}

{% block title %}Edit UserBackOffice{% endblock %}

{% block body %}
    <h1>Edit UserBackOffice</h1>

    {{ include('user_back_office/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_user_back_office_index') }}">back to list</a>

    {{ include('user_back_office/_delete_form.html.twig') }}
{% endblock %}
