{% extends 'base.html.twig' %}


{% block title %}Nouvel nft
{% endblock %}


{% block body %}
	<section class="container">

		<h1 class="m-5">Créer un nouvel Nft</h1>

		{{ include('nft/_form.html.twig') }}

		<a href="{{ path('app_nft_index') }}">Retour à la liste des Nfts</a>
	</section>

{% endblock %}
{% block stylesheet %}
	<style>

		label {
			display: block;
			width: 150px;
			color: #0984e3;
		}
		input {
			width: 300px;
		}
		.btn {
			background-color: #54a0ff;
			color: white;
			margin-top: 5px;
		}
	</style>
{% endblock %}
